[user]
	name = Elad Rom
	email = webdev@eladrom.org

[core]
	editor = nano
	excludesfile = /git/.gitignore_global

[merge]
	tool = meld

[branch]
	autosetupmerge = true
	autosetuprebase = always

[diff]
	tool = meld

[color]
	ui = true

[alias]
	# basic aliases
  s = status
  k = !gitk
  c = commit
  ca = commit -a
  rh = reset --hard HEAD
  rs = reset --soft HEAD
  pnp = !"git pull && git push"
  pull = !"git current | git pull origin"
  push = !"git current | git push origin"

	# undoing
	unstage = reset HEAD --
	undo-push = git push -f origin HEAD^:master
	detach = checkout HEAD^0 #go to a detached-HEAD mode

	# stashing
	stash-unapply = !git stash show -p | git apply -R #unapply the most recent stash
	stash-show = !git show $(git stash list | cut -d":"  -f 1) #shows the contents of each stash with one command.

	# Information gathering
	current = rev-parse --abbrev-ref HEAD
	resolve = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`" #3
	subup = submodule foreach git pull origin master #update all submodules in a git repo
	subclean = submodule foreach git clean -fd #update all submodules in a git repo