[user]
  name = Elad Rom
  email = webdev@eladrom.org

[init]
  templatedir = ~/.git.d/templates

[core]
  editor = nano
  excludesfile = /git/.gitignore_global

[merge]
  tool = meld

[push]
  default = simple

[pull]
  rebase = preserve

[diff]
  tool = meld

[color]
  ui = true

[alias]
	# basic aliases
  s = status
  k = !gitk
  c = commit
  ca = commit -a
  rh = reset --hard HEAD
  rs = reset --soft HEAD
  pnp = !"git pull && git push"
  pull = !"git current | git pull origin"
  push = !"git current | git push origin"

  # undoing
  unstage = reset HEAD --
  undo-push = git push -f origin HEAD^:master
  detach = checkout HEAD^0 ## Go to a detached-HEAD mode

  # stashing
  stash-unapply = !git stash show -p | git apply -R ## Unapply the most recent stash
  stash-show = !git show $(git stash list | cut -d":"  -f 1) ## Shows the contents of each stash with one command.

  # Information gathering
  current = rev-parse --abbrev-ref HEAD
  resolve = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
  subup = submodule foreach git pull origin master ## Update all submodules in a git repo
  subclean = submodule foreach git clean -fd ## Update all submodules in a git repo