[submodule "lib/git-today"]
	path = lib/git-today
	url = https://github.com/notbenh/git-today.git
[submodule "lib/git-ftp"]
	path = lib/git-ftp
	url = https://github.com/resmo/git-ftp.git
[submodule "lib/git-hooks"]
	path = lib/git-hooks
	url = https://github.com/icefox/git-hooks.git
[submodule "lib/git-flow-completion"]
	path = lib/git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion.git
